.sidebar-tab.directory.multiple-select {
    position: relative;
}
    
.sidebar-tab.directory.multiple-select:after {
    content: '';
    position: absolute;
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    top: 0px;
    left: 0px;
    border: 1px solid #FF0000;
    border-radius: 4px;
    pointer-events: none;
}

.system-dsa5 .sidebar-tab.directory.multiple-select:after {
    height: calc(100% - 7px);
}

.sidebar-tab.directory.multiple-select .directory-list .directory-item.document.selected,
.sidebar-tab.directory.multiple-select .directory-list .directory-item .sound.selected {
    background-color: #ff6400 !important;
}

.sidebar-tab.directory.multiple-select .directory-list .directory-item.scene.selected {
    color: #ff6400;
}
.sidebar-tab.directory.multiple-select .directory-list .directory-item.scene.selected:after {
    content: ' ';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 100, 0, 0.2);
    pointer-events: none;
}
